html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

#title {
    font-size: 112px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: grey;
    height: 960px;
    width: 960px;
    align-self: center;
}

.gridElement {
    background-color: rgb(114, 111, 111);
}