html, body {
    margin: 0;
    height: 100%;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: grey;
    /*
    height: 64vh;
    width: 64vh;
    max-height: 960px;
    max-width: 960px;
    */
    height: 960px;
    width: 960px;
    align-self: center;
}

.gridElement {
    background-color: rgb(114, 111, 111);
}